@charset "utf-8";
*{
	margin:0;
	padding:0;
}
html{
	width:100%;
	height:100%;
	overflow:hidden;
}
.li1{
	height:95px;
	width:200%;
	position:relative;
/*	background:url(../ac/2.png);*/
	-webkit-animation: Scroll_left 6s linear infinite;
}
@-webkit-keyframes Scroll_left {
  from {
    left:0;
  }
  to {
    left:-43%;
  }
}
.li2{
	height:95px;
	width:200%;
	position:relative;
	-webkit-animation: Scroll_right 6s linear infinite;
}
@-webkit-keyframes Scroll_right {
  from {
    left:-43%;
  }
  to {
    left:0;
  }
}
.img1{
	height:95px;
	width:110px;
	float:left;
	position:relative;
/*	background:url(../ac/2.png);*/
/*	-webkit-animation: Scroll_left 1s linear infinite;*/	
}